.header {
    width: 100%;
    display: flex;
    padding: 24px 4%;

    background-color: var(--neutral-950); 
    position: fixed;
    z-index: 20;

    & div, nav {
        flex: 1;
    }
    
}

.logo-header{
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo-drakon{
    display: inline-block;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.navBar .link {
    display: inline-block;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;

    position: relative;
    transition: color .3s ease;
}

.navBar .link:hover{
    color: rgba(255, 255, 255, 0.90);
}

.navBar .link::before {
    content: "";
    position: absolute;
    background: var(--gradient);

    bottom: 0;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;

    
    transition: width .3s ease;
}

.navBar .link:hover::before{
    width: 100%;
}

.navBar .link span {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;


}

.cta-header{
    display: flex;
    justify-content: end;
    align-items: center;
}